.container {
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
  padding-inline: 1.25rem;

  display: flex;
  flex-direction: column;
  height: 100vh;

  main {
    flex: 1;
  }
}

.containerForm {
  flex: 1;
  margin-top: 1.5rem;

  border: 1px solid var(--zinc-700);
  border-radius: 6px;
  padding: 1.5rem;

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      background-color: var(--zinc-900);
      border: 1px solid var(--zinc-700);
      border-radius: 6px;
      padding: 1rem;
      color: var(--white);
      outline: none;
    }

    input:focus {
      border: 1px solid var(--purple-700);
    }

    textarea {
      background-color: var(--zinc-900);
      border: 1px solid var(--zinc-700);
      border-radius: 6px;
      padding: 1rem;
      color: var(--white);
      outline: none;
      resize: none;
    }

    textarea:focus {
      border: 1px solid var(--purple-700);
    }

    button {
      background-color: var(--purple-700);
      color: var(--white);
      font-weight: bold;
      border: 0;
      border-radius: 6px;
      padding: 1rem;
      cursor: pointer;
    }

    button:hover {
      background-color: var(--purple-800);
    }
  }
}

.cards {
  border-top: 1px solid var(--zinc-700);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media(max-width: 768px) {
  .cards { 
    grid-template-columns: 1fr;
  }
}